include MANIFEST.in
include pyproject.toml
include *.txt
recursive-include cyperf/tools *.pyx.in *.pxd.in
recursive-include cyperf *.pyx *.pxd *.py *.pxi *.cc *.h
global-exclude *.pyc *.pyo *.pyd *.swp *.bak *~
